<!DOCTYPE html>
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="author" content="Lorenzo Waldner">
<meta name="author" content="Martin Brugnara">


<style type="text/css">
body {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.app {
  display: inline;
}

#map-canvas {
  height: 80%;
  width: 100%;
}

#mapwrapper {
  height: 800px;
}
</style>

<title>Donate my school stuff</title>


<link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />


<script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDPJu0_3nAchYRpsEPfyn2TMA005kymj0I"></script>

<script type="text/javascript">
  var urlBase = "http://localhost";
  var urlInitData = urlBase + "/json/initial_data.json"
  var urlQueryResult = urlBase + "/json/result.json"
  var map;
  var checkPosition = false;
  var positionLongitude = 0;
  var positionLatitude = 0;

  var latMarker = -34.397;
  var lonMarker = 150.644;

  function getAttualPosition() {

    function showPosition(position) {
      console.log(position);
      latMarker = position.coords.latitude;
      lonMarker = position.coords.longitude;
    }

    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(function(position) {
        console.log(position);
        latMarker = position.coords.latitude;
        lonMarker = position.coords.longitude;

      });
    } else {

      console.log("error");
      //error message, not support geolocation 

    }

  }
  function initialize() {
    //     getAttualPosition();
    var mapOptions = {
      center : new google.maps.LatLng(lonMarker, latMarker),
      zoom : 8,
      mapTypeId : google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  function setMarker(map, latMarker, lonMarker, title) {

    var marker = new google.maps.Marker({
      position : new google.maps.LatLng(lonMarker, latMarker),
      map : map,
      title : title
    });
  }

  //      }
</script>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">Donate my school stuff</a>
        </h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="active"><a href="#">Search</a></li>
        <li class="divider"></li>
        <li><a href="#">Your publish</a></li>
        <li class="divider"></li>
    </section>
  </nav>


  <!--  -->
  <div class="row">
    <div class="large-12 columns">
      <h2>Eucalypus Team</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div>
        <form>
          <fieldset>
            <legend>Search field</legend>

            <div class="row">
              <div class="large-6 columns">
                <input id="queryString" type="text"
                  placeholder="What are you searching?">
              </div>

              <div class="large-6 columns">
                <label for="customDropdown1">School</label> <select
                  id="dropdownSchool" class="small">
                  <option DISABLED>School</option>

                </select> <label for="customDropdown1">Category</label> <select
                  id="dropdownCategory" class="small">
                  <option DISABLED>Category</option>
                </select>

              </div>

            </div>
            <div class="row">
              <div class="large-2 columns right">
                <img id="btnSearch" src="./img/search.jpg"
                  style="height: 40px; width: 40px; float: right;" />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <div id="resultQuery"></div>
    </div>
    <div id="mapwrapper" class="large-6 columns">
      <div id="map-canvas" />
    </div>
  </div>


  
<script>
//     document.write('<script src=' 
//  + ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') 
//+ '.js><\/script>')
</script>
  <script type="text/javascript" src="./js/jquery-2.0.2.min.js"></script>
  <script type="text/javascript">
    $.ajax({
      url : urlInitData,
      dataType : "json",
      type : "GET",
      success : function(result) {
        for ( var i = 0; i < result.length; i++) {
          //dropdownSchool
          if (result[i].model == "storage.school") {
            $("#dropdownSchool").append(
                "<option>" + result[i].fields.value
                    + "</option>");
          }
          if (result[i].model == "storage.category") {
            $("#dropdownCategory").append(
                "<option>" + result[i].fields.value
                    + "</option>");
          }

        }
      }
    });
  </script>
  <script type="text/javascript">
  $("#btnSearch").click(function(){

//     $.post(urlQueryResult,{
//         userID : '',
//         searchstr: $("#queryString").val(),
//         searchcat: $("#dropdownSchool").val(),
//         searchschool: $("#dropdownCategory").val(),
//       }, function(result){
//         console.log(result);
//         var data = $.parseJSON(result);
//           console.log(data);
//           for(var i = 0; i < data.length; i++){
//             $("#resultQuery").append( ''+
//             '<div class="row">'+
//               '<div class="large-12 columns">'+
//                 '<h3>'+data[i].objectPK.objectName+'</h3>'+
//               '</div>'+
//             '</div>'+
//             '<div class="row">'+
//               '<div class="large-12 columns">'+
//                 '<p>'+data[i].objectPK.description+'</p>'+
//               '</div>'+
//             '</div>'+
//             '<div class="row">'+
//               '<div class="large-4 columns small">'+data[i].objectPK.school+'</div>'+
//               '<div class="large-4 columns small">'+data[i].objectPK.category+'</div>'+
//               '<div class="large-3 columns panel small">'+data[i].objectPK.tags+'</div>'+
//             '</div>'+
//             '<div class="row">'+
//               '<div class="large-12 columns small">'+data[i].objectPK.owner_username+'</div>'+
//             '</div>');
          
        
//           }  }
// );
    
    console.log("click event");
    
    $.ajax({
        type : 'GET',
//          type : 'POST',
        url : urlQueryResult,
        dataType : "json",
        // post payload:
//         data : JSON.stringify({
//           userID : '',
//           searchstr: $("#queryString").val(),
//           searchcat: $("#dropdownSchool").val(),
//           searchschool: $("#dropdownCategory").val(),
//         }),
        contentType : 'application/json',
        success: function(data){
          console.log(data);
          for(var i = 0; i < data.length; i++){
            $("#resultQuery").append( ''+
            '<div class="row">'+
              '<div class="large-12 columns">'+
                '<h3>'+data[i].objectPK.objectName+'</h3>'+
              '</div>'+
            '</div>'+
            '<div class="row">'+
              '<div class="large-12 columns">'+
                '<p>'+data[i].objectPK.description+'</p>'+
              '</div>'+
            '</div>'+
            '<div class="row">'+
              '<div class="large-4 columns small">'+data[i].objectPK.school+'</div>'+
              '<div class="large-4 columns small">'+data[i].objectPK.category+'</div>'+
              '<div class="large-3 columns panel small">'+data[i].objectPK.tags+'</div>'+
            '</div>'+
            '<div class="row">'+
              '<div class="large-12 columns small">'+data[i].objectPK.owner_username+'</div>'+
            '</div>');
            
          
        }
        }});
    });
  </script>

  <script src="{{STATIC_URL}}js/foundation.min.js"></script>

  <script src="{{STATIC_URL}}js/foundation/foundation.dropdown.js"></script>
  <script src="{{STATIC_URL}}js/foundation/foundation.forms.js"></script>

  <!--
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.interchange.js"></script>
  -->

  <script>
    $(document).foundation();
  </script>
</body>
</html>
